### core ###
Babel==2.9.1
chardet==3.0.4
decorator==4.3.0
docutils==0.14
ebaysdk==2.1.5
freezegun==0.3.15
gevent==23.9.1
greenlet==2.0.0
idna==2.6
Jinja2==2.11.2
libsass==0.17.0
lxml==4.6.5
Mako==1.0.7
MarkupSafe==1.1.0
num2words==0.5.6
ofxparse==0.21
passlib==1.7.1
Pillow==8.1.1
polib==1.1.0
psutil==5.6.6
psycopg2==2.8.5
pydot==1.4.1
python-ldap==3.1.0
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.7.3
pytz
pyusb==1.0.2
qrcode==6.1
reportlab==3.5.55
requests==2.28.2
urllib3==1.26.5
zeep==4.2.1
python-stdnum==1.8
vobject==0.9.6.1
Werkzeug==2.0.2
XlsxWriter==1.1.2
xlwt==1.3.*
xlrd==1.2.0
### l10n-brasil ###
brazilcep
brazilfiscalreport
email-validator
erpbrasil.assinatura>=1.7.0
erpbrasil.base>=2.3.0
erpbrasil.edoc.pdf
erpbrasil.edoc>=2.5.2
erpbrasil.transmissao>=1.1.0
nfelib<=2.0.7
nfselib.barueri
nfselib.ginfes
nfselib.paulistana
num2words
phonenumbers
pyyaml
satcomum
unidecode
workalendar

